.input {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 4px;
  font-weight: 500;
}

.input-field {
  padding: 8px 6px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--neutral-200);
  border-radius: 6px;
}

.error-message {
  margin-top: 6px;
  color: var(--error-500);
  font-size: 1.4rem;
}

.info-message {
  align-self: flex-end;
  margin-top: 1.2rem;
  color: var(--primary-500);
  font-size: 1.4rem;
}
