.container {
  min-height: 100vh;
  padding: 0 2.4rem;
  background-color: var(--neutral-50);
}

.dark .container {
  background-color: var(--neutral-900);
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 3.2rem;
  }
}
