.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
}

.menu-btn {
  place-self: center start;
  color: var(--neutral-500);
}

.menu-btn > svg {
  display: block;
}

.menu-btn:hover {
  color: var(--neutral-600);
}

.dark .menu-btn {
  color: var(--neutral-400);
}

.dark .menu-btn:hover {
  color: var(--neutral-300);
}

.mode-btn {
  place-self: center end;
}

.search-input {
  grid-column: span 2;
}

.search-input > input {
  width: 100%;
}
