.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.title-container h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.menu-btn {
  place-self: center start;
  color: var(--neutral-500);
}

.menu-btn > svg {
  display: block;
}

.menu-btn:hover {
  color: var(--neutral-600);
}

.dark .menu-btn {
  color: var(--neutral-400);
}

.dark .menu-btn:hover {
  color: var(--neutral-300);
}

.mode-btn {
  place-self: center end;
}

.search-input {
  grid-row: 2;
  grid-column: span 2;
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 1fr minmax(0, 48rem) auto;
    gap: 1.6rem;
    padding: 2.4rem 0;
  }

  .title-container h1 {
    font-size: 2.8rem;
  }

  .menu-btn {
    display: none;
  }

  .mode-btn {
    grid-column: 3;
  }

  .search-input {
    grid-row: 1;
    grid-column: 2;
  }
}
