.input {
  padding: 8px 6px;
  color: var(--neutral-900);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--neutral-200);
  border-radius: 6px;
}

.dark .input {
  background-color: var(--neutral-700);
  color: white;
  border-color: var(--neutral-600);
}

.input.error {
  border-color: var(--error-500);
}

.dark .input.error {
  border-color: var(--error-400);
}
