.input {
  display: flex;
  align-items: center;
  gap: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

.input:focus-within {
  outline: auto;
  outline-width: 2px;
  outline-style: solid;
}

.input-default,
.input-subtle {
  background-color: white;
  border-color: var(--neutral-200);
}

.dark .input-default {
  background-color: var(--neutral-700);
  border-color: var(--neutral-600);
}

.dark .input-subtle {
  background-color: var(--neutral-800);
  border-color: var(--neutral-700);
}

.input.error {
  border-color: var(--red-500);
}

.dark .input.error {
  border-color: var(--red-400);
}

.input-icon {
  padding: 8px 0 8px 10px;
  color: var(--neutral-500);
}

.dark .input-icon {
  color: var(--neutral-400);
}

.input-icon > svg {
  display: block;
}

.input-field {
  width: 100%;
  padding: 8px 6px;
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.input-field::placeholder {
  color: var(--neutral-500);
}

.input-field:placeholder-shown {
  text-overflow: ellipsis;
}

.input-default .input-field,
.input-subtle .input-field {
  color: var(--neutral-900);
}

.dark .input-default .input-field,
.dark .input-subtle .input-field {
  color: white;
}

.dark .input-subtle .input-field::placeholder {
  color: var(--neutral-400);
}
